<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Одежда</title>
</head>
<body>
<header th:replace="blocks/header :: header"></header>
<H1>Товары</H1>
<br>
<div th:if="${not #lists.isEmpty(listProducts)}">
    <h2>Products List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Бренд</th>
            <th>Категория</th>
            <th>Год выпуска</th>
            <th>Список цен</th>
        </tr>
        <tr th:each=" products : ${listProducts}">
            <td th:text="${products.product_id}">Id</td>
            <td th:text="${products.product_name}">Имя</td>
            <td th:text="${products.brand_id}">Бренд</td>
            <td th:text="${products.category_id}">Категория</td>
            <td th:text="${products.model_year}">Год выпуска</td>
            <td th:text="${products.list_price}">Список цен</td>
        </tr>
    </table></dev>
</body>
</html>